th.mat-header-cell, td.mat-cell {
  padding-right: 20px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.table-wrapper {
  position: relative;
  padding-top: 3px;
}

.upper-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updatedDate {
  color: #7B1FA2;
}

@media (max-width: 700px) {
  table {
    width: 100%;
  };

  tr, td, th {
    font-size: 12px;
    text-align: center;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
    padding-left: 10px;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
    padding-right: 10px;
  }

  th.mat-header-cell, td.mat-cell {
    padding-right: 0;
  }
}

