.footer-wrapper {
  height: auto;
  display: block;
  font-size: 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 10px;

  * {
    margin: 0;
  }
}

.info {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #303030;
  }
}

.donate {
  height: 32px;
  width: 32px;
  line-height: 32px;

  &:hover {
    color: red;
  }
}

.myTg {
  color: currentColor;

  &:hover {
    color: #673ab7;
  }

  &:focus-visible {
    outline: none;
  }
}
