<mat-toolbar color="primary" class="header-wrapper">
  <header class="header">
    <div class="header-title">
      <img src="assets/logo.png" class="logo" alt="Logo">
      <span>Hydra Calculator</span>
    </div>
    <div class="header-links">
      <a href="https://hydraledger.io/" target="_blank">Hydraledger</a>
      <a href="https://wallet.hydraledger.io/" target="_blank">Hydra Wallet</a>
      <a href="https://explorer.hydraledger.io/" target="_blank">Hydra Explorer</a>
      <span>|</span>
      <img src="assets/day-and-night.png"
           class="theme-icon"
           (click)="toggleDarkMode()"
           alt="Theme">
    </div>
  </header>
</mat-toolbar>
