.profile-container {
  width: 60vw;
  min-width: 300px;
}

.add-btn {
  color: white !important;
  box-shadow: none !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delegate {
  width: 100px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.panel-header {
  color: inherit !important;
  font-weight: 500;
}
