.footer-wrapper {
  height: auto;
  display: block;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 3px 0;
  gap: 20px;
  font-size: 16px;
}

p {
  margin: 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: #303030;
    }
  }
}

.footer-donate {
  display: flex;
  align-items: center;

  .donate:hover {
    color: red;
  }
}
