.slider {
  width: 320px;
  margin: 0 auto;
}

.suffix {
  display: block;
  width: 24px !important;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.add-amount {
  display: flex;
  gap: 20px;
  height: 72px;
  overflow: hidden;

  .add-amount-input {
    width: 210px;
  }

  button {
    height: 53px;
    width: 90px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.address-error {
  margin: -15px 0px 0px 10px;
  font-size: 12px;
  font-weight: bold;
  color: red;
}
