.upper-table {
  .suffix {
    display: block;
    text-align: center;
  }

  .hidden {
    visibility: hidden;
  }
}

th.mat-mdc-header-cell, td.mat-mdc-cell {
  padding-right: 20px;
}

.table {
  position: relative;
  overflow: auto;

  & > table, .paginator {
    min-width: 700px;
  }
}

.loading {
  height: 200px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-row  {
  .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }

  &:hover .mat-mdc-cell {
    border-color: currentColor;
  }
}

.paginator {
  border-top: 1px solid var(--mat-table-row-item-outline-color);
}

.del {
  min-width: 155px;
  display: flex;
  align-items: center;

  &-mark {
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-left: 5px;
    font-size: 14px;
  }
}

.votes {
  width: 70px;
}

.filter {
  width: 200px;
}

.mat-mdc-row {
  height: 40px;
}

.no-data-text {
  height: 40px;
  text-align: center;
}

@media (max-width: 700px) {
  .table {
    width: calc(100vw - 50px);
  }
}
