.upper-table {
  .suffix {
    display: block;
    width: 24px !important;
    text-align: center;
  }

  .hidden {
    visibility: hidden;
  }
}

th.mat-header-cell, td.mat-cell {
  padding-right: 20px;
}

.table {
  position: relative;
  overflow: auto;

  & > table, .paginator {
    min-width: 700px;
  }
}

.loading {
  height: 200px;

  &-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-row  {
  .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }

  &:hover .mat-cell {
    border-color: currentColor;
  }
}

.mat-paginator-light {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-paginator-dark {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.del {
  min-width: 155px;
  display: flex;
  align-items: center;

  &-mark {
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-left: 5px;
    font-size: 14px;
  }
}

.votes {
  width: 70px;
}

@media (max-width: 700px) {
  .table {
    width: calc(100vw - 50px);
  }
}
