form {
  padding-top: 10px;
}

.login-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 12px;
    color: #673ab7;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.error {
  margin-bottom: 0;
  font-size: 14px;
  color: red;
}
