<ngx-ui-loader></ngx-ui-loader>

<header class="header">
  <div class="header-title">
    <img src="assets/logo.png" class="logo" alt="Logo">
    <span>Hydra Calculator</span>
  </div>
  <div class="header-links">
    <a href="https://hydraledger.io/" target="_blank">Hydraledger</a>
    <a href="https://wallet.hydraledger.io/" target="_blank">Hydra Wallet</a>
    <a href="https://explorer.hydraledger.io/" target="_blank">Hydra Explorer</a>
  </div>
</header>

<main id="main">
  <mat-tab-group mat-stretch-tabs class="slider">
    <mat-tab label="Amount">
      <div class="add-amount">
        <mat-form-field appearance="fill" class="add-amount-input">
          <mat-label>Amount</mat-label>
          <input matInput [(ngModel)]="hydAmount" autocomplete="off" name="hydAmount">
          <span matSuffix class="suffix">Ħ</span>
        </mat-form-field>
        <button mat-flat-button (click)="setAmount()" color="primary">Calculate</button>
      </div>
    </mat-tab>

    <mat-tab label="Address">
      <div class="add-amount">
        <mat-form-field appearance="fill" class="add-amount-input">
          <mat-label>Address</mat-label>
          <input matInput maxlength="34" [(ngModel)]="hydAddress" name="hydAddress" placeholder="HYD Wallet Address">
          <button matSuffix mat-icon-button (click)="hydAddress=''" class="suffix" [class.hidden]="!hydAddress">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-flat-button (click)="setAmountByAddress()" color="primary">Calculate</button>
      </div>
    </mat-tab>
  </mat-tab-group>

  <app-table [userHydAmount]="+hydAmount"></app-table>
</main>
