main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 16px 102px;
}

.slider {
  width: 320px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 16px;
  row-gap: 10px;
  background-color: #7B1FA2;

  &-title {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 20px;

    .logo {
      height: 32px;
      margin-right: 20px;
    }
  }

  &-links {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      color: white;
      text-decoration: none;
      font-size: 16px;

      &:hover {
        color: #303030;
      }
    }
  }
}

.add-amount {
  display: flex;
  gap: 20px;
  height: 72px;
  overflow: hidden;

  .add-amount-input {
    width: 210px;
  }

  button {
    height: 53px;
    width: 90px;
  }

  .suffix {
    display: block;
    width: 24px !important;
    text-align: center;
  }

  .hidden {
    visibility: hidden;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 16px;
  gap: 10px;
  background-color: #7B1FA2;

  * {
    margin: 0;
  }
}

.info {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #303030;
  }
}

.donate {
  height: 32px;
  width: 32px;
  line-height: 32px;

  &:hover {
    color: red;
  }
}

.myTg {
  color: white;

  &:hover {
    color: #7B1FA2;
  }

  &:focus-visible {
    outline: none;
  }
}

