<mat-toolbar color="primary" class="footer-wrapper">
  <footer>
    <div class="footer-links">
      <a href="https://hydraledger.tech/" target="_blank">Hydraledger</a>
      <a href="https://wallet.hydraledger.tech/" target="_blank">Hydra Wallet</a>
      <a href="https://explorer.hydraledger.tech/" target="_blank">Hydra Explorer</a>
    </div>
    <div class="footer-donate">
      <span>Donate</span>
      <button class="donate" mat-icon-button (click)="openDialog(modalDonate)">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </footer>
</mat-toolbar>

<ng-template #modalDonate>
  <div mat-dialog-content>
    <p>If you would like to support the development and maintenance of this tool,
      here is the HYD address below, I would greatly appreciate it.</p>
    <p>My HYD address: hL6khm9bNfD8TbowVSjry7yQnjmh85JQsJ</p>
    <p>Thank You and have a great day :)</p>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="primary">Close</button>
  </div>
</ng-template>
