<mat-toolbar color="primary" class="header-wrapper">
  <header class="header">
    <div class="header-title">
      <img src="../../../assets/logo.png" class="logo" alt="Logo">
      <a routerLink="">Hydra Calculator</a>
    </div>

    <div>
      <div class="header-links">
        <ng-container *ngIf="!isAuthenticated">
          <a routerLink="/login">Login</a>
          <span> | </span>
          <a routerLink="/registration">Registration</a>
        </ng-container>

        <ng-container *ngIf="isAuthenticated">
          <a routerLink="/profile">Profile</a>
          <span> | </span>
          <a routerLink="/" (click)="onLogout()">Logout</a>
        </ng-container>
      </div>

      <img src="../../../assets/day-and-night.png"
           class="theme-icon"
           (click)="toggleDarkMode()"
           alt="Theme">
    </div>
  </header>
</mat-toolbar>
