@use '@angular/material' as mat;

@include mat.core();
@include mat.all-component-typographies();

$app-primary: mat.define-palette(mat.$deep-purple-palette);
$app-accent: mat.define-palette(mat.$green-palette, 400);
$app-warn: mat.define-palette(mat.$red-palette, 400);

$app-light-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

$app-dark-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

.light-theme {
  @include mat.all-component-themes($app-light-theme);
}

.dark-theme {
  @include mat.all-component-themes($app-dark-theme);
}

body {
  margin: 0;
}

.mat-mdc-card-title,
.mat-mdc-card-subtitle {
  padding: 16px 16px 0;
}
