@use '@angular/material' as mat;

@include mat.core();

$HydraCalculator-primary: mat.define-palette(mat.$deep-purple-palette);
$HydraCalculator-accent: mat.define-palette(mat.$green-palette, 400);
$HydraCalculator-warn: mat.define-palette(mat.$red-palette, 400);

$HydraCalculator-light-theme: mat.define-light-theme((
  color: (
    primary: $HydraCalculator-primary,
    accent: $HydraCalculator-accent,
    warn: $HydraCalculator-warn,
  )
));

$HydraCalculator-dark-theme: mat.define-dark-theme((
  color: (
    primary: $HydraCalculator-primary,
    accent: $HydraCalculator-accent,
    warn: $HydraCalculator-warn,
  )
));


.light-theme {
  @include mat.all-component-themes($HydraCalculator-light-theme);
}

.dark-theme {
  @include mat.all-component-themes($HydraCalculator-dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
