<mat-tab-group mat-stretch-tabs class="slider">
  <mat-tab label="Amount">
    <div class="add-amount">
      <mat-form-field appearance="fill" class="add-amount-input">
        <mat-label>Amount</mat-label>
        <input matInput type="number" [(ngModel)]="hydAmount" autocomplete="off" name="hydAmount">
        <span matSuffix class="suffix">Ħ</span>
      </mat-form-field>
      <button mat-flat-button (click)="recalculate()" color="primary">Calculate</button>
    </div>
  </mat-tab>

  <mat-tab label="Address">
    <div class="add-amount">
      <mat-form-field appearance="fill" class="add-amount-input">
        <mat-label>Address</mat-label>
        <input matInput maxlength="34" [(ngModel)]="hydAddress" name="hydAddress" placeholder="HYD Wallet Address">
        <button matSuffix mat-icon-button (click)="hydAddress=''" class="suffix" [class.hidden]="!hydAddress">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button (click)="calcByAddress()" color="primary">Calculate</button>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="upper-table">
  <mat-form-field appearance="standard" class="filter">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="Delegate" #filter>
  </mat-form-field>

  <span class="updatedDate">Updated 22.10.2022</span>
</div>

<div class="mat-elevation-z8 table-wrapper">
  <table mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="rank">
      <th mat-header-cell mat-sort-header="rank" *matHeaderCellDef>Rank</th>
      <td mat-cell *matCellDef="let element">{{ element.rank }}</td>
    </ng-container>

    <ng-container matColumnDef="delegate">
      <th mat-header-cell mat-sort-header="delegate" *matHeaderCellDef>Delegate</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="share">
      <th mat-header-cell mat-sort-header="share" *matHeaderCellDef>Share</th>
      <td mat-cell *matCellDef="let element">{{ element.share * 100 }}%</td>
    </ng-container>

    <ng-container matColumnDef="votes">
      <th mat-header-cell mat-sort-header="votes" *matHeaderCellDef>Votes</th>
      <td mat-cell *matCellDef="let element">{{ element.votes | number:'1.0-0' }}</td>
    </ng-container>

    <ng-container matColumnDef="daily" class="mobile-hide">
      <th mat-header-cell mat-sort-header="daily" *matHeaderCellDef>Daily rewards</th>
      <td mat-cell *matCellDef="let element">{{ element.payment | number:'1.0-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="monthly" *ngIf="!smallScreen">
      <th mat-header-cell mat-sort-header="monthly" *matHeaderCellDef>Monthly rewards</th>
      <td mat-cell *matCellDef="let element">{{ (element.payment * 30) | number:'1.0-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="yearly" class="mobile-hide" *ngIf="!smallScreen">
      <th mat-header-cell mat-sort-header="yearly" *matHeaderCellDef>Yearly rewards</th>
      <td mat-cell *matCellDef="let element">{{ (element.payment * 365) | number:'1.0-2' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">No delegates matching the filter "{{ filter.value }}"</td>
    </tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 25, 53]"></mat-paginator>

  <ngx-ui-loader [loaderId]="'table-loader'"
                 overlayColor="rgba(48,48,48,0.3)"
                 [hasProgressBar]="true"
                 pbColor="#673AB7">
  </ngx-ui-loader>
</div>
